@charset "UTF-8";
@font-face {
  font-family: 'icomoon';
  src: url("../fonts/icomoon/icomoon.eot?-hznsa8");
  src: url("..//fonts/icomoon/icomoon.eot?#iefix-hznsa8") format("embedded-opentype"), url("../fonts/icomoon/icomoon.ttf?-hznsa8") format("truetype"), url("../fonts/icomoon/icomoon.woff?-hznsa8") format("woff"), url("../fonts/icomoon/icomoon.svg?-hznsa8#icomoon") format("svg");
  font-weight: normal;
  font-style: normal; }

[class^="icon-"], [class*=" icon-"] {
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.icon-anniversary:before {
  content: '\e800'; }

/* '' */
.icon-birthday:before {
  content: '\e801'; }

/* '' */
.icon-cookies:before {
  content: '\e802'; }

/* '' */
.icon-rings:before {
  content: '\e803'; }

/* '' */
.icon-two:before {
  content: '\e804'; }

/* '' */
.icon-envelop:before {
  content: '\e805'; }

/* '' */
.icon-instagram:before {
  content: '\e806'; }

/* '' */
.panel {
  padding: 10px;
  float: left;
  width: 33%; }
  @media only screen and (max-width: 800px) {
    .panel {
      width: 50%; } }
  .panel .inner-panel {
    position: relative;
    overflow: hidden; }
  .panel img {
    min-width: 100%; }
  .panel p {
    color: #e12727;
    position: absolute;
    bottom: 0;
    width: 100%;
    background: #fff;
    min-height: 30px;
    border-top: 1px solid #666;
    margin: 0;
    padding: 10px;
    opacity: 0.9;
    font-size: 12px; }

.likes {
  border-radius: 50%;
  background: #e12727;
  width: 30px;
  height: 30px;
  color: #fff;
  text-align: center;
  line-height: 32px;
  font-size: 12px;
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 1; }

.box-shadow {
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12); }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  font-family: helvetica;
  font-size: 1.25em;
  line-height: 1.2;
  background-color: #ebe9eb; }

h1, h2, h3, a {
  color: #e12727; }

h1 a {
  border: none; }

p {
  margin-bottom: 1em; }

img {
  max-width: 90%;
  display: block;
  margin: 0 auto 1em; }

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
  overflow: hidden;
  margin-bottom: 10px; }

.header {
  top: 0;
  padding: 20px 0 10px;
  margin-bottom: 25px;
  text-align: center;
  width: 100%;
  background: rgba(255, 255, 255, 0.95);
  overflow: hidden;
  position: fixed;
  z-index: 9; }
  .header h1 {
    margin-top: 10px; }
  .header ul {
    margin: 0 auto;
    width: 100%; }
  .header li {
    list-style-type: none;
    float: left;
    width: 10%; }

.logo {
  max-width: 240px;
  margin-bottom: 20px; }

h1 a, h1 img {
  border: none;
  text-decoration: none; }

.main a {
  text-decoration: none;
  border: 0 solid #e12727;
  border-bottom-width: 1px; }

.main a:hover {
  border-bottom: none; }

.intro {
  margin-top: 130px;
  background-image: url("/assets/images/background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 35px;
  height: 200px;
  width: 100%; }
  .intro p {
    color: #fff;
    font-size: 45px;
    text-shadow: 2px 2px #e12727;
    text-align: center;
    font-weight: bold; }
  .intro .icon {
    float: left;
    background: #e12727;
    color: #fff;
    border-radius: 50%;
    height: 100px;
    width: 100px;
    font-size: 15px;
    text-align: center; }
    .intro .icon span {
      display: block; }
    .intro .icon:before {
      margin-top: 25px;
      font-size: 50px; }

.gallery {
  margin: 10px -10px 60px -10px;
  clear: both;
  overflow: hidden; }

footer {
  width: 100%;
  height: 10px;
  background: #e12727; }

.connect .icon:before {
  margin-right: 10px;
  font-size: 16px; }

.connect p {
  font-size: 16px;
  margin-right: 65px; }

.connect a {
  text-decoration: none; }
  .connect a:hover {
    text-decoration: underline; }

.connect li {
  margin-bottom: 10px;
  list-style: none; }

h2, h3 {
  font-size: 40px;
  font-weight: lighter;
  border-bottom: 1px solid #e12727;
  padding: 0 0px 10px 0;
  margin: 0 0 20px 0; }

h3 {
  margin-right: 60px; }

.contact input, .contact .submit, .contact textarea {
  color: #e12727;
  font-size: 15px;
  margin: 0 0 15px;
  border: 0;
  padding: 9px 10px; }

.contact textarea {
  width: 100%; }

.contact input {
  font-size: 15px;
  width: 100%; }

.contact .submit {
  float: right;
  font-size: 14px;
  font-weight: bold;
  padding: 8px 10px;
  background: #e12727;
  color: #fff;
  border: 1px solid #e12727; }

@media only screen and (min-width: 640px) {
  .connect, .contact {
    float: left;
    width: 50%; }
  .main {
    margin-top: 3em;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 1em; }
  .let9 .main {
    background: transparent;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#90FFFFFF,endColorstr=#90FFFFFF);
    zoom: 1; } }

@media only screen and (max-width: 320px) {
  .logo {
    width: 100%; } }
